html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit
}
.body{
    font-family: 'Lato', sans-serif;
    max-width: 500px;
    margin:0 auto;
    padding: 10px 20px;
    
    border:7px double;color: blue;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer{
    text-align: center;
    margin-top: 20px;
    color: black;
    font-size: 10px;
}